<!-- 
	
	A period display is seperated to boxes by a grid.
	This view represens a box.

-->	
<div ng-switch-default >
		
	<div ng-bind-html="parseHtml(box.title)" ></div>
	<div ng-bind-html="parseHtml(box.body)" ></div>
	
	
	<div class="footer" ng-show="box.date!=undefined" >
		<ul>
			<li>{{box.date}}</li>
			<li>{{box.category}}</li>
			<li><a target="_blank" href="http://www.facebook.com/sharer.php?external=true&u={{getSiteLink()}}?year={{year.year}}" >שתף</a></li>
		</ul>
	</div>
</div>

<div ng-switch-when="image" >
	<img  src="{{box.src}}" />
	<div class="footer" ng-show="box.date!=undefined" >
		<ul>
			<li>{{box.date}}</li>
			<li>{{box.category}}</li>
			<li><a target="_blank" href="http://www.facebook.com/sharer.php?external=true&u={{getSiteLink()}}?year={{year.year}}" ></a>שתף</li>
		</ul>
	</div>
</div>
<div ng-switch-when="video" >
	<img  src="{{box.src}}" />
</div>
		
<div ng-switch-when="chart" ng-controller="chartController" ng-attr-id="box-{{box.chartType}}-{{year.year}}-{{$index}}{{id}}" class="chart" ng-init="init($index, box, year)" ng-scroll-into="loadChart" >
	
</div>
