<!-- 
	
	A period display is seperated to boxes by a grid.
	This view represens a box.

-->	
<span ng-switch-when="paragraph" >
		
	<span ng-bind-html="parseHtml(box.title)" ></span>
	<span ng-bind-html="parseHtml(box.body)" ></span>
	
	
	<div class="footer" >
		<ul>
			<li>{{box.date}}</li>
			<li>{{box.category}}</li>
			<li>שתף</li>
		</ul>
	</div>
</span>

<div ng-switch-when="image" >
	<img  src="{{box.src}}" />
	<div class="footer" >
		<ul>
			<li>{{box.date}}</li>
			<li>{{box.category}}</li>
			<li>שתף</li>
		</ul>
	</div>
</div>
<div ng-switch-when="video" >
	<img  src="{{box.src}}" />
</div>
		
<div ng-switch-when="chart" ng-controller="chartController" ng-attr-id="box-{{box.chartType}}-{{$index}}" class="chart" sb-load="init($index, box)" >
	
</div>
