@font-face {
    font-family: mugrabiRegular;
    src: url(../fonts/mugrabi-aaa-regular.otf);
}
@font-face {
    font-family: ambivalentiCompressed;
    src: url(../fonts/ambivalenti-compressed-aaa.otf);
}
@font-face {
    font-family: ambivalentiTzarRegular;
    src: url(../fonts/ambivalenti-tzar-aaa-regular.otf);
}
@font-face {
    font-family: almoniTzar;
    src: url(../fonts/almoni-tzar-aaa-regular.otf);
}
@font-face {
    font-family: shaulRegular;
    src: url(../fonts/Shual-Regular.ttf);
}
@font-face {
    font-family: shaulBold;
    src: url(../fonts/Shual-Bold.ttf);
}