@font-face {
    font-family: mugrabiRegular;
    src: url(../fonts/mugrabi-aaa-bold.otf);
}
@font-face {
    font-family: ambivalentiCompressed;
    src: url(../fonts/ambivalenti-compressed-aaa.otf);
}
@font-face {
    font-family: ambivalentiTzarRegular;
    src: url(../fonts/ambivalenti-tzar-aaa-regular.otf);
}