*{
	
	margin:0;
	padding:0;
	
	direction: rtl;
}

h1,h2,h3,h4{
	
	font-weight: 100;
}

/**
 * 	michael css
 */

.year{
	
}

path:hover
 { 
  opacity:0.9; 
  }
rect:hover 
{  
fill:blue; 
}
.axis 
{ 
 font: 10px sans-serif; 
 }
.legend tr
{  
  border-bottom:1px solid grey; 
  }
.legend tr:first-child
{  
  border-top:1px solid grey; 
  }

body.switchTimeline{

	transition:all .3s;
	background: #FFBDBB;	
}
body.switchTimeline #badTimeline{
	
	transition:all 1.3s;
	height:1px;
	opacity:0;
	overflow: hidden;
}

.axis path,
.axis line
 {
  fill: blue;
  stroke: #000;
  shape-rendering: crispEdges;
}
#headerChart
{
	width:100%;
	height:20px;
	
}
#linesDonatChart
{
	width:1800px;
	height:1800px;
	
}
#populationLineChart
{
	width:800px;
	height:600px;
}

#sunChart
{
	width:900px;
	height:600px;
	
}

.legend
{
    
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
table
{
  text-align: left;
}
.legend td
{
    padding:4px 5px;
	
    
}

/**
 * 	michael CSS
 */

body{
	
	padding-top:80px;
	text-align:justify;
}

.header{
	
	position:fixed;
	text-align:center;
	left:0;
	right:0;
	height:80px;
	top:0;
	
	background-color: white;
	    z-index: 100;
	    font-family: mugrabiRegular;
}

.header h3{
	
	line-height: 60px;
}

.header.intro h3, body.switchTimeline .header h3{
	
	line-height:80px;
}

#mainGraph{
	
	height:20px;
	
}

.header h3{
	
	text-align: center;
	margin:0;
}
.header h3.calc{

	font-family: mugrabiRegular;
	font-size: 36pt;
}

.box{
	
	opacity:0;
	
}

.anim-in{
	
	transition:.3s all;
	opacity:1;
}

.year{
	
	
}

h1{
	
	padding:10px 0;
}

h3{
	
	font-weight: 800;
	font-size: 30px;
}

h1, h2{
	
	font-size:50px;
}

p{
	
	font-size:35px;
}

h2,p{
	
	margin:2%;
}

.box{
	vertical-align:top;
	display:inline-block;
	padding:0 1%;
}

.rap{
	
	width:100%;
}

.box img{
	
	display:block;
	width:100%;
}

.box.b1{width:98%;}
.box.b2{width:48%;}
.box.b3{width:31%;}

.header h3{
	
	display: inline-block;
	padding:0 20px;
}
.calc{
	
	background-color: #D3191D;
	color:white;
	margin:0;
}

.box.b1 .footer{
	
	border-bottom:solid 1px #000;	
}
.footer{
	
	border-bottom:solid 1px #8f8f8f;
	margin-bottom: 20px;
	margin-left:20px;
	top: 0px;
	height:20px;
	position: relative;
	right: 205px;
	margin-left:205px;
}
.footer ul{
	list-style: none;
    font-size: 15pt;
    display: inline-block;
    padding:0 20px;
    position: relative;
    top:0px;
    left: 205px;
}
.footer ul li:not(:last-child){

	border-left:solid 2px #8f8f8f;	
}
.footer ul li{
	display: inline-block;
	margin:10px 0;
	padding:0 5px;
	
}

.more{
	
	background: url('../img/open-pixel.png') repeat-x top;
	padding: 35px 0 15px 0;
	    margin-top: 30px;
}

.more-button{
	
	display: block;
	margin:0px auto;
}

.light{
	
	color:white;
}

.intro-screen:not(.rel){

	position:fixed;
	top:80px;
	left:0;
	right:0;
	bottom:0;	
}
.intro-screen{
	
	background-color: #ffbdbb;
	font-size: 17pt;
	font-family: shaulRegular;
	z-index:100;
}
.intro-screen.rel, .intro-screen.rel .frame{
	
	position: relative;	
}

.intro-screen.trans .frame{
	position: relative;	
}
.intro-screen.trans{
	
	height:500px;
	position: relative;
}

body.switchTimeline .intro-screen.trans{
	
	transition:all .3s;
	
}

.intro-screen.trans.frame{
	
	margin-top:50%;
}

.intro-screen.trans.full{
	
	
}

.intro-screen h1, .intro-screen h2{

	font-size: 21pt;
	font-weight: bold;	
}

.frame:first-child{
}

.intro-screen:not(.rel) .frame{
	
	top:80px;
	position:fixed;
	bottom:100px;
	left:0;
	right:0;
}

.frame{
	
	max-width:700px;
	text-align:center;
	overflow-y: scroll;
	    margin: auto;
}

::-webkit-scrollbar { 
    display: none; 
}

.intro-screen p{
	
	font-size: 16pt;
	font-family: shaulRegular;	
	line-height: 28pt;
	
}

.intro-screen .footer-button img{
	
	margin: auto;
    display: block;	
}


.intro-screen .footer-button{
	
	position: absolute;
	bottom:0;
	height:100px;
	left:0;
	right:0;
}

.underline{
	
	text-decoration: underline;
}

.intro-screen p b, .intro-screen h2{
	
	font-weight:inherit;
	background-color: #fff;
	padding:5px 3px;
}

.intro-screen h2{
	
	display: inline;
}

/**
 * 	flip anim css
 */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container.flipped .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/**
 * 	mobile design
 */
@media screen and (max-width:800px){

	.frame{
		
		display: block;
	}
	
	.box, .box.b2, .box.b3{
		
		display:block !important;
		width:100% !important;
		padding:0;
		margin:auto;
	}
	
	.box > *{
		
		margin:1%;
	}
	
	.box h1{
		
		font-size: 60pt !important;
	}
}



